body {
  font-family: "Lato", sans-serif;

  background-image: url('img/fondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 1820px;
  background-color: #49847C;
}

#firstscreen{
text-align: center;
}

h3{
margin-top: 100px;
color: white;
text-align: center;
}

button{

  display: inline-block;
  border: solid 1px white;
  border-radius: 15px;
  background-color: #49847C;
  color: white;
  padding: 10px;
  text-align: center;
}

.card-group{
  margin-left: 40px;
  margin-right: 40px;
}


.card{
  margin-bottom: 15px;
}


.card-img-top{
  padding: 15px;
  width: 100%;
  height: 160px;
  background-color: rgba(192,192,192,0.3);
}

.card-img-modal{
  text-align: center;
}
