/* screen 1 */

body {
    background-image: url(img/fondo.png);
}
/* "Ingresa tu nombre de usuario y contraseña" */
#root  {
    margin-left: 51%;
    margin-top: 6%;
    color: #5e7e7f;
    width: 387px;
    height: 78px;
    font-family: Tahoma, sans-serif;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
}

/* Input usuario y contraseña */
#input {
    margin-left: 50%;
    margin-top: 5%;
    height: 100px;
    width: 306px;
    height: 75px;
    line-height: normal;

}
/* style inputs */
.rounded-pill {
  width: 306px;
  height: 75px;
  font-family: Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #5e7e7f;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.5px;
  background-color: #ebe1e1;
}

/* btn ingresar */
#btn-start {

    margin-left: 50%;
    margin-top: 5%;
    block-size: 1.4cm; 
    width: 313px;
    height: 78px;
    border-radius: 42px;
    background-color: #62d39e;
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    position: fixed;
    letter-spacing: 2.5px;
  
}

/* explicación del juego */
footer {
    width: 622px;
  height: 261px;
  font-family: Tahoma, sans-serif;
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  position: fixed;
  letter-spacing: 2.6px;
  color: #5e7e7f;
}

/* logo */
#logo {
    margin-left: 2cm;
    margin-top: 5%;
    width: 40%;
    position: fixed;
        
}

/* screen 2 */

/* Selecciona al zona que quieres */
h3 {
    position: absolute;
width: 820px;
height: 118px;
left: 310px;
top: 59px;

font-family: Tahoma, sans-serif;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 26px;
text-align: center;
letter-spacing: 0.1em;

color: #5E7E7F;
}

/*  Container necesitado para posicionar el butón */
 .container {
    position: relative;
    width: 40%;
    margin-top: 20%;
  } 
  
  /* Hacer la img kanto responsive */
  .container .col {
    height: 5cm;
    margin-top: 20%;
    position: relative;
    bottom: 2cm;
  }
  
  /* style el button y moverlo para que esté dentro de la imagen */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: transparent;
  }